@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-success m-1">Simple Ledger Book</h1>
<p>Hello, Welcome to SelfHelpLedger. This is a simple ledger book where you can deposit, withdraw, and view your transactions.</p>
<NavLink class="nav-link text-primary" href="/members/new">
                <span class="oi oi-plus" aria-hidden="true"></span> Get Started
            </NavLink>